NODE_ENV=production
PORT=3000
DB_PATH=./data/sde.db
AWS_REGION=eu-west-3
AWS_BUCKET=sde-cotisations-paiements
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_KEY
ADMIN_PASSWORD=sde+691234567
S3_MAX_FILE_SIZE=5242880
